<!DOCTYPE html>
<head>
<title>Login Form Design</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

    </head>
    
<body>

    <div class="box">

    <img src="/static/imgs/user.png" class="user">

        <h1>Login Here</h1>

        <form name="myform"  action="https://www.linktr.ee/astronavin" target="_blank">

            <p>Username</p>
            <input type="text" name="uname" placeholder="Enter Username " required="">

            <p>Password</p>
            <input type="password" name="upswd" placeholder="Enter Password" required="">
            <br><br>

            <input type="submit" name="" value="Log in">

            <br><br>
            <a href="signup">Register for new account ?</a>

        </form>
        
    </div>   

</body>
</html>