
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PythonFlask</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body bgcolor="yellow">
<h1 align="center">Welcome To Python Flask Application!</h1>
<div>
    <h3>Python Flask</h3>
<p>Flask is a web application framework written in Python. Armin Ronacher, who leads an international group of Python enthusiasts named Pocco, develops it.</p>
</div>
<h4>If you don't have an account <a href="/signup" target="_blank">Click here to create an account</a></h4>
</body>
</html>